# make directory and enter it
function md() {
    mkdir -p "$@" && cd "$@"
}
# used for project makefile - to enter it on complete
function jump() {
	cd "$@"
}


# Git branch details
function parse_git_dirty() {
	[[ $(git status 2> /dev/null | tail -n1) != *"working directory clean"* ]] && echo "*"
}
function parse_git_branch() {
	git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e "s/* \(.*\)/\1$(parse_git_dirty)/"
}